body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0f0b0b ;
height: 700px;
} 
.nav{
    font-family: 'Raleway', sans-serif;
    display: flex;
justify-content: center;
align-items: center ;
margin-top: 0px;
padding-top: 0;
 text-align: right;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    display: block;
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    border-radius: 20px;
    text-align: right;
}
.nav ul li{
    list-style: none;
    float: left;
    padding: 20px;
    text-align: right;
    margin-top: 1px;
    position: sticky;
}
.nav ul li :hover {
    background-color: black;
    border: 2px solid rgb(248, 248, 248);
    box-shadow: grey;

}
.main{font-family: 'Bebas Neue', cursive;}
.main p{
 font-weight: 560px;
font-size: 35px;
color: rgb(248, 248, 248);
padding-left:185px;
}
.main-2{
    font-family: 'Bebas Neue', cursive;
    margin-left: 530px;
    font-size: 33px;
}
.buy-now{font-family: 'Bebas Neue', cursive;}
.buy-now p {
    align-items: center;
    margin: auto;
    justify-content: center;
    padding-left: 5px;
display: inline-block;
text-decoration: none;
color: white;
border-spacing: 2px;
font-size: 32px;
}
.buy-now p a{list-style: none;
color: white;
margin-left: 618px;
text-decoration: none;
border:2px solid white;
display: block;
padding: 5px;
border-radius:8px ;
margin-top: 10px;
}
.buy-now p a:hover{
    color: red;
}
.thx{
font-family: 'Bebas Neue', cursive;
margin-left: 568px;
font-size: 32px;
margin-top: 9px;
}

